
/*---------------------- navbar------------------------*/

/*會員登入跟購物車設定*/
i
{
    font-size: 20px;
    color: #667179de;
}

/*標籤*/
span.badge 
{
    background-color: #c09e6b;
    color: white;
    margin-left: 5px;
    border-radius: 50%;
}



/*設定滑鼠滑過下拉式選單*/
div .dropdown-menu li:hover .sub-menu {visibility: visible;}
div .dropdown:hover .dropdown-menu {display: block;}

/*設定logo圖片大小*/
#first img 
{
    width: 50px
}

/*導覽列底色*/
.navbar
{
    background-color: #e9d38b;
}

/*調整導覽列字體尺寸*/
a
{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

  /*下拉式選單方框的底色和框框顏色*/
.navbar .navbar-nav .dropdown-menu 
{
    background-color: #caab68;
    border:none;
}

/*下拉式選單字體顏色白色*/
.navbar .navbar-nav .dropdown-menu .dropdown-item 
{
    color: #fdfdfd;
}

/*滑過下拉式選單的底色和字體顏色,滑過會變粗體*/
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active 
{
  color: #72644f;
  background-color: #a18d70;
  font-weight: bold;
  line-height: 1.5
}
.navbar-light .navbar-toggler{
color: rgba(0,0,0,.5);
border-color: rgba(0,0,0,.1);}
/*滑過導覽列的底色跟字體顏色
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus 
{
  color:#847d6f;
  background-color:  #f5e9e2;
}*/

/*漢堡的底色
.navbar .navbar-toggler 
{
    background-color: #775a3e;

}*/
/*整個購物車下拉設定
.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;}*/


 /*第一層設定*/
 .shopping-cart-top 
 {
   border-bottom: 1px solid #E8E8E8;
   padding-bottom: 15px;
 }
/*第一層總金額浮動靠右設定*/    
.shopping-cart-total 
{
     float: right;
}

/*購物清單*/
.shopping-cart-items 
{    
   padding-top: 20px;
}
.shopping-cart-items > li 
{
       margin-bottom: 18px;
}
/*清單商品照片*/
img .product 
{
     float: left;
     margin-right: 12px;
}
   
   .item-name
{
     display: block;
 float:right;
     padding-top: 10px;
     font-size: 16px;
   }
   
.item-price
{
     color: black;
     margin-right: 8px;
 float:right;
   }
   
.item-quantity 
{
     color: red;
 float:right;
   }


/*---------------------- log in------------------------*/
#login{
	
	background-color: #e9bac0;

}

#login .container
{
  margin-top: 0%;
}

#login h3.title
{
  font-family: 'East Sea Dokdo', cursive; 
  font-size: 60px;
  margin-top: 50px;
}
/* 調整圖片大小 */
#login img{
	
	margin-top: 50px;
	margin-bottom: 50px;
	width:100%;
	}


/* @中小畫面時 */
@media (max-width:764px) {
	
	#login img{
	
	margin-top: 0px;
  
	margin-bottom: 0px;
	width:110%;
	}

    
  }



#login .col-layout{
	background: hsl(0, 0%, 100%);
	height:auto;
}

#login form{

	padding:50px 0px;
	background: hsl(0, 0%, 100%);
	margin-top: 30px;
}

#login .con-layout{

	margin-bottom: 100px;

}

#login .row-special{
	background: #e9bac0;
	min-height: 50px;
}


#login .row-special2{
	background: hsl(0, 0%, 100%);
}


#login .btn-outline-secondary {
  color:rgb(42, 165, 159);
  background-color: #fff;
  border-color: rgb(42, 165, 159);
  font-family: 'East Sea Dokdo', cursive;
  font-size: 20px;
}
#login .btn-outline-secondary:hover,#login .btn-outline-secondary:focus,
#login .btn-outline-secondary:active:hover
{
  color: #fff;
  background-color: #e9bac0;
  border-color: #e9bac0;
  font-family: 'East Sea Dokdo', cursive;
  font-weight: bold;
  font-size: 20px;
}
#login .btn-1
{
  margin-left: -20px;
}
#login .btn-2
{
  margin-left: 40px;
}












/*---------------------- footer------------------------*/
#down {
    padding: 1rem 0;
    text-align:center;
    height: 180px;
    width: 100%;
  
  }
  
  .row{
    text-align: center;
  }
  
  .contact li {
    width: 90px;
    height: 80px;
    display: inline-block;
    list-style-type: none;
    margin: 0 1em;
    text-align: center;
  }
  
  .contact p {
    text-align: center;
    font-size:8px;
  }
    
  .contact {
    display: inline-block;
    margin: 0 auto;
    padding-left: 0; 
    text-align: center;
  }
  
  section .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }